body{
	font-family:arial,sans-serif;x
}

.bingoBtn{     
	color:black;   
	margin: 0px;
	width : 45px;
	height: 45px;
	background-color: white;
	border:1px solid gray;
}
.bingoBtn.on{        
	color:white;
	background-color: #666;
}
.cardContainer{
	width: 225px;
	height:245px;
	border:1px solid blue;
	float:left;
	margin: 3px;
	position:relative;
}
.cardContainer.new{
	height:252px;
}
.cardContainer.on{
	height:240px;
	border:3px solid red;
}
.cardTitleInput{
	margin:0px 0px;
	padding:0px 0px;
	width: 221px;
	height:25px;
	font-size:20px;
	color:black;	
	text-align:center;
	border-width: 2px;
}
.modeText{
	width:400px;
	text-align:center;
	color:blue;
	font-size:22px;
	font-weight:bold;
}
.modeText.red{
	color:#f08080;
}
.cardTitle{
	width: 100%;
	height:20px;
	color:black;
	background-color:#B0B0DD;
	text-align:center;
}
.cardTitle.lv1{
	background-color:#3a4ec9;
  	text-decoration:blink;
  }

.cardTitle.lv2{
	background-color:#e97528;
}
.cardTitle.on{
	font-weight:blod;
	font-size:200%;
	height:40px;
	color:white;
	background-color:#FF4040;
}

.cardContainer .bingoNum{
	color:black;
	font-size:14px;
	font-weight: bold;
	width: 37px;
	height:37px;
	line-height: 40px;
	text-align:center;
	float:left;
	margin:2px;
    border-radius: 20px;
    border-style:solid;
    border-width:2px;
    border-color:transparent;
}

.cardContainer .bingoNum.on{
	/*background-color: #666;*/
}
.cardContainer .bingoNum.go{
	color:white;
	background-color: #FF4040;
}

.cardContainer .bingoNum.color00, .cardContainer .bingoNum.color04,
.cardContainer .bingoNum.color12, .cardContainer .bingoNum.color20,
.cardContainer .bingoNum.color22, .cardContainer .bingoNum.color33,
.cardContainer .bingoNum.color40, .cardContainer .bingoNum.color42,
.cardContainer .bingoNum.color44{
	border-color: #c8327c;/*pink*/
}

.cardContainer .bingoNum.color00.on, .cardContainer .bingoNum.color04.on,
.cardContainer .bingoNum.color12.on, .cardContainer .bingoNum.color20.on,
.cardContainer .bingoNum.color22.on, .cardContainer .bingoNum.color33.on,
.cardContainer .bingoNum.color40.on, .cardContainer .bingoNum.color42.on,
.cardContainer .bingoNum.color44.on{
	background-color: #d7b2c0;/*pink*/
}

.cardContainer .bingoNum.color01, .cardContainer .bingoNum.color03,
.cardContainer .bingoNum.color24, .cardContainer .bingoNum.color30,
.cardContainer .bingoNum.color41{
	border-color: #3c8837;/*green*/
}

.cardContainer .bingoNum.color01.on, .cardContainer .bingoNum.color03.on,
.cardContainer .bingoNum.color24.on, .cardContainer .bingoNum.color30.on,
.cardContainer .bingoNum.color41.on{
	background-color: #c3d2b9;/*green*/
}

.cardContainer .bingoNum.color02, .cardContainer .bingoNum.color21,
.cardContainer .bingoNum.color23, .cardContainer .bingoNum.color34{
	border-color: #7b6ba5;/*purple*/
}
.cardContainer .bingoNum.color02.on, .cardContainer .bingoNum.color21.on,
.cardContainer .bingoNum.color23.on, .cardContainer .bingoNum.color34.on{
	background-color: #c3c1d2;/*purple*/
}

.cardContainer .bingoNum.color10, .cardContainer .bingoNum.color14,
.cardContainer .bingoNum.color32{
	border-color: #cd8624;/*orange*/
}
.cardContainer .bingoNum.color10.on, .cardContainer .bingoNum.color14.on,
.cardContainer .bingoNum.color32.on{
	background-color: #d3bf99;/*orange*/
}

.cardContainer .bingoNum.color11, .cardContainer .bingoNum.color13,
.cardContainer .bingoNum.color31, .cardContainer .bingoNum.color43{
	border-color: #095faa;/*blue*/
}
.cardContainer .bingoNum.color11.on, .cardContainer .bingoNum.color13.on,
.cardContainer .bingoNum.color31.on, .cardContainer .bingoNum.color43.on{
	background-color: #a9b5cb;/*blue*/
}

.cardContainer .delButton{
	position:absolute;
	top:0px;
	right:0px;
	height:20px;
	border-width: 0px;
	background-color:#f08080;
	
}

.okButton{
	width: 200px;
	height:50px;
	background-color:#8080f0;
	font-size:25px;
}
.delAllButton{
	width: 90px;
	height:25px;
	background-color:#f08080;
	font-size:12px;
}
